<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mylauncher.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>My Launcher</name>
    <description>Android Home Launcher</description>
    <author email="app@mylauncher.com">Developer</author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="21" />
        <preference name="android-targetSdkVersion" value="34" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.SET_WALLPAPER" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
    </platform>
</widget>
<platform name="android">
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="30" />
    
    <!-- Ye lines zaroor add karein -->
    <preference name="AndroidXEnabled" value="true" />
    <preference name="GradlePluginVersion" value="4.2.0" />
    <preference name="GradleVersion" value="7.1.1" />
    
    <!-- Baaki aapka code... -->
</platform>
